<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A skeleton app">

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the cookie parser module (https://github.com/js-cookie/js-cookie) -->
    <!--  -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <!-- <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.mjs"
    ></script> -->
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  
  <body>
    <div id="ThePageGp">
      
      <form id="TheForm_01" action="/scan" method="get">
        <button type="submit">Scan for Cookies</button>
        <section>
          <h3>Results:</h3>
          <ul id="TheForm_01_ResultList">
            <em>loading the list&hellip;</em>
          </ul>
        </section>  
      </form>
      <hr/>

      <form id="TheForm_02">
        <h3>Set cookie:</h3>
        <label for="TheForm_02_CookieName">name:</label>
        <input type="text" id="TheForm_02_CookieName" name="key" value="BasicConsent"><br>
        <label for="TheForm_02_CookieValue">value:</label>
        <input type="text" id="TheForm_02_CookieValue" name="value" value="false"><br>
        <br>
        <input type="submit" value="Submit">
      </form>
      <hr/>
      
      <form id="TheForm_03">
        <h3>Set cookie:</h3>
        <label for="TheForm_03_CookieName">name:</label>
        <input type="text" id="TheForm_03_CookieName" name="key" value="Complex"><br>
        <label for="TheForm_03_CookieValue">value:</label>
        <input type="text" id="TheForm_03_CookieValue" name="value" value="false"><br>
        <label for="TheForm_03_CookieDomain">domain:</label>
        <input type="text" id="TheForm_03_CookieDomain" name="domain" value=""><br>
        <label for="TheForm_03_CookiePath">path:</label>
        <input type="text" id="TheForm_03_CookiePath" name="path" value=""><br>
        <br>
        <input type="submit" value="Submit">
      </form>
      
    </div> <!-- ThePageGp -->
  </body>
</html>
